
@{
    ViewBag.Title = "jQuery Testing";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<br />

@Html.Partial("_JQueryTesting")
@Html.Partial("_JQueryTesting2")
@Html.Partial("_JQueryTesting3")
@Html.Partial("_JQueryTesting4")
@Html.Partial("_GoBack")